@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;

}
.app{
    width:100vw;
    height:100vh;
    position:relative;
    overflow:hidden;
}
.img {
    width: 100%;
    height: 100%;
    background: url("psyops.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar {
    background-color: black;
    justify-content:space-between;
    position: absolute;
    text-align:center;
    top: 0;
    height:70px;
    width: 100%;
}
a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration:none;
    font-size:medium;
}
.navbar ul {
    display:flex;
    list-style:none;
}
.navbar li {
    font-weight: bold;
    border-radius: 7px;
    color: white;
    margin: 5px 5px 0 5px;
    padding: 5px 5px 5px 5px;
    position: relative;
}
.navbar li a {
    color: inherit;
    text-decoration: none;
    font-size:small
}
.social{
    position: absolute;
    right: 20px;
}
.social ul{
    list-style:none;
}
.social li{
    color: white;
    font-size: 20px;
}
.fa{
    color: white;
    font-size: 20px;
    padding: 10px;
    width: 20px;
    text-align: center;
    border-radius: 50%;
    text-decoration: none;
    margin: 10px;
}
.fa:hover{
    font-size:25px;
    width: 25px;
}
.fa-youtube{
    background-color: #E61212;
}
.fa-soundcloud{
    text-align:left;
    background-color: #7F29E1;
}
.fa-whatsapp{
    background-color: #00870E;
}
.opt:hover{
    background-color:rgb(128, 128, 128);
}
.fas{
    color: rgb(128, 128, 128);
}
.opt:hover .fas{
    color: white;
}
.opt::before{
    position:absolute;
    display:block;
    content:"";
    bottom: -40%;
    left: 0;
    width: 0%;
    height: 3px;
    transition: 0.3s, ease-in-out
}
.opt:hover::before{
    width:100%;
    background-color: rgb(0, 255, 255);
}
.title{
    font-family:"Rubik Glitch", cursive;
    font-size:4rem;
    color:white;
    white-space:pre-line;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-selet: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.opt:hover .drop-down {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: rgb(55, 55, 55)
}
.drop-down {
    display: none;
    margin-top: 2px;
    border-top-color:rgb(0, 255, 255);
    border-top-style:solid;
    border-width: 2px;
}
.drop-down ul{
    display:block;
    margin:5px;
}
.drop-down ul li{
    width:150px;
    text-align:left;
    padding-left:10px;
}
.drop-down ul li:hover {
    background-color: rgb(128, 128, 128);
}
ul{
    padding-inline-start:0px;
}
.play, .social{
    position: absolute;
    right: 20px;
}
.social .drop-down ul li{
    width:50px;
    position: relative;
    text-align:left;
}
